<style>
	.inactive {
		border: none;
	}
	
	.active {
		border: 1px solid gray;
		border-radius: 6x;
	}
	
	.level-one {
		padding-left: 0px;
	}
	
	.level-two {
		padding-left: 10px;
	}
</style>

<div id="content">
	<div id="1" class="active level-one">
		Top level 1
		<div id="7" class="inactive level-two">High level</div>
		<div id="3" class="inactive level-two">Nested</div>
		<div id="4" class="inactive level-two">Also nested</div>
	</div>
	<div id="2" class="inactive level-one">
		Top level 2
		<div id="8" class="inactive level-two">Also high level</div>
		<div id="5" class="inactive level-two">Nested</div>
		<div id="6" class="inactive level-two">Also nested</div>
	</div>
</div>

<script>
	var elNumber = 0;
	
	document.addEventListener('keydown', logKey);
	function logKey(event) {
		switch (event.key) {
			case "ArrowDown":
				console.log(elNumber);
				var divs = document.getElementsByClassName("level-one");
				//~ var n = document.getElementsByTagName("div").length;
				// Can only move down if last element is not active
				if (elNumber < divs.length) {
					var thisdiv = divs[elNumber];
					thisdiv.classList.remove("inactive");
					thisdiv.classList.add("active");
					//~ document.body.childNodes[elNumber].className = "active";
					// Can't set the previous element inactive unless the second or later is being activated
					// Only set the previous element inactive if moving down
					if (elNumber > 0) {
						//~ document.body.childNodes[elNumber-1].className = "inactive";
						var prevdiv = divs[elNumber-1];
						prevdiv.classList.remove("active");
						prevdiv.classList.add("inactive");
					}
					if (elNumber < divs.length - 1) {
						elNumber += 1;
					}
				}
				break;
			case "ArrowUp":
				console.log(elNumber);
				if (elNumber > 1) {
					elNumber -= 1;
				}
				var divs = document.getElementsByClassName("level-one");
				// Move up if > 0
				if (elNumber > 0) {
					var prevdiv = divs[elNumber-1];
					prevdiv.classList.remove("inactive");
					prevdiv.classList.add("active");
					//~ document.body.childNodes[elNumber].className = "active";
					// Set the previous element inactive if moving up
					// and there is a previous element
					if (elNumber < divs.length) {
						//~ document.body.childNodes[elNumber-1].className = "inactive";
						var thisdiv = divs[elNumber];
						thisdiv.classList.remove("active");
						thisdiv.classList.add("inactive");
					}
				}
				break;
			case "ArrowLeft":
				alert("Left!");
				break;
			case "ArrowRight":
				var divs = document.getElementsByClassName("level-one");
				var thisdiv = divs[elNumber];
				thisdiv.classList.remove("level-one");
				thisdiv.classList.add("level-two");
				break;
			case "Escape":
				alert("Escape!");
				break;
			case "Enter":
				alert("Enter!");
				break;
			case "+":
				alert("Plus!");
				break;
			default:
				return;
		//~ if (ev.key == "a" || ev.key == "A") {
			//~ alert ("You pressed the 'A' key!");
		//~ }
		}
	}
</script>

